input {
  width: 80%;
}

#estado_civil {
  width: 1000;
}

#botao-cadastrar {
  background-color: #383c44;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-table;
  font-size: 25px;
  position: relative;
  top: 5px;
  left: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  width: 250px;
}
