<!-- comprar imovel
<div class="id_imovel">
  <h1>id imovel: {{ id_imovel }}</h1>
  <h1>id proprietario: {{ id_proprietario }}</h1>
</div>

<br><br>
<h2>Comprar Imóvel</h2>
<br><br>
<h3>Dados do comprador</h3>
<hr>
<div class="container">
  <div class="form-group row">
    <div class="col-sm-12">
      <label>Nome</label><br>
      <input #nome type="text" id="nome">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4">
      <label>CPF</label><br>
      <input #cpf type="text" id="cpf">
    </div>
    <div class="col-sm-4">
      <label>Data Nascimento</label><br>
      <input #data_nasc type="text" id="data_nasc">
    </div>
    <div class="col-sm-4">
      <label>RG</label><br>
      <input #rg type="text" id="rg">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6"><br>
      <label>Profissão</label><br>
      <input #profissao type="text" id="profissao">
    </div>
    <div class="col-sm-6"><br>
      <label>Estado Civil</label><br>
      <select #estado_civil name="estado_civil" id="estado-civil">
        <option selected disabled value="">Selecione</option>
        <option value="solteiro">Solteiro(a)</option>
        <option value="casado">Casado(a)</option>
        <option value="separado">Separado(a)</option>
        <option value="divorciado">Divorciado(a)</option>
        <option value="viuvo">Viúvo(a)</option>
        <option value="amasiado">Amasiado(a)</option>
      </select>
  </div>
</div>

<div class="container">
  <hr>
  <div class="form-group row">
    <div class="col-sm-9">
      <label>Rua</label><br>
      <input #rua_comprador type="text" id="rua_comprador">
    </div>
    <div class="col-sm-3">
      <label>Número</label><br>
      <input #numero_comprador type="text" id="numero_comprador">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4">
      <label>Andar</label><br>
      <input #andar_comprador type="text" id="andar_comprador">
    </div>
    <div class="col-sm-4">
      <label>Bloco</label><br>
      <input #bloco_comprador type="text" id="bloco_comprador">
    </div>
    <div class="col-sm-4">
      <label>Bairro</label><br>
  <input #bairro_comprador type="text" id="bairro_comprador">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4">
      <label>CEP</label><br>
      <input #cep_comprador type="text" id="cep_comprador">
    </div>
    <div class="col-sm-4">
      <label>Cidade</label><br>
      <input #cidade_comprador type="text" id="cidade_comprador">
    </div>
    <div class="col-sm-4">
      <label>UF</label><br>
      <select #uf_comprador name="estados-brasil">
        <option selected disabled value="">Selecione</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
      </select>
    </div>
  </div>
  <hr>
</div>

<div class="container">
  <h3>Detalhes do Pagamento</h3><br>
  <div class="form-group row">
    <div class="col-sm-3">
      <label>À vista</label><br>
      <input #vista type="text" id="vista">
    </div>
    <div class="col-sm-3">
      <label>Banco</label><br>
      <select #banco name="estados-brasil">
        <option selected disabled value="">Selecione</option>
        <option value="1">Banco do Brasil S.A.</option>
        <option value="33">Banco Santander (Brasil) S.A.</option>
        <option value="77">Banco Inter S.A.</option>
        <option value="96">Banco B3 S.A.</option>
        <option value="104">Caixa Econômica Federal</option>
        <option value="237">Banco Bradesco S.A.</option>
        <option value="260">Nu Pagamentos S.A (Nubank)</option>
        <option value="341">Itaú Unibanco S.A.</option>
        <option value="348">Banco Xp S/A</option>
      </select>
    </div>
    <div class="col-sm-3">
      <label>Entrada</label><br>
      <input #entrada type="text" id="vista">
    </div>
    <div class="col-sm-3">
      <label>Número de parcelas</label><br>
      <input #parcelas type="text" id="parcelas">
    </div>
  </div>
  <hr>
</div>

<div style="width: 125px;">

  <input type="button" (click)="transacaoCompra(
    nome.value,
    cpf.value,
    data_nasc.value,
    rg.value,
    profissao.value,
    estado_civil.value,
    rua_comprador.value,
    numero_comprador.value,
    andar_comprador.value,
    bloco_comprador.value,
    bairro_comprador.value,
    cep_comprador.value,
    cidade_comprador.value,
    uf_comprador.value,
    id_proprietario.value,
    id_imovel.value,
    vista.value,
    banco.value,
    entrada.value,
    parcelas.value)" value="Comprar" routerLink="/novo-imovel" id="botao-comprar">
</div>

<br><br> -->
