<div class="titulo">
  <h1>Imobiliária</h1>
</div>

<br/><br/>
<div class="diretivasFor">
  <h2>Proprietários</h2>
  <table>
    <thead>
      <th>Nome</th>
      <th>CPF</th>
      <th>Data de Nascimento</th>
      <th>RG</th>
      <th>Profissão</th>
      <th>Estado Civil</th>
    </thead>
    <tr  *ngFor="let imovel of imoveis; index as i">
      <td>{{pessoas[i].nome}}</td>
      <td>{{pessoas[i].cpf}}</td>
      <td>{{pessoas[i].data_nasc}}</td>
      <td>{{pessoas[i].rg}}</td>
      <td>{{pessoas[i].profissao}}</td>
      <td>{{pessoas[i].estado_civil}}</td>
    </tr>
  </table>
</div>

<div  class="diretivasFor">
  <h2>Endereço</h2>
  <table >
    <thead>
      <th>Rua</th>
      <th>Número</th>
      <th>Bloco</th>
      <th>Andar</th>
      <th>Cidade</th>
      <th>UF</th>
      <th>CEP</th>
      <th>Idade da construção</th>
      <th>Tipo</th>
    </thead>
    <tr *ngFor="let imovel of imoveis; index as i">
      <td>{{enderecos[i].rua}}</td>
      <td>{{enderecos[i].numero}}</td>
      <td>{{enderecos[i].bloco}}</td>
      <td>{{enderecos[i].andar}}</td>
      <td>{{enderecos[i].cidade}}</td>
      <td>{{enderecos[i].uf}}</td>
      <td>{{enderecos[i].cep}}</td>
      <td>{{imovel.idade}}</td>
      <td>{{tipos[i].tipo}}</td>
    </tr>
  </table>
</div>

